body {
  background-color: #ecf0f1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
}

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image.circle {
  border-radius: 50%;
}

.image.size-32 {
  width: 32px;
  height: 32px;
}

.image.unitato {
  background-image: url('/resources/unitato.png');
  width: 256px;
  height: 256px;
}

.spacer {
  height: 64px;
}

.list {
  display: flex !important;
  flex-direction: column;
}

.list > .item {
  margin-bottom: 8px;s
}

footer {
  height: 96px;
}
