<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UnitatoBot Statistics</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="resources/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon/favicon-16x16.png">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <!-- Specific CSS -->
    <link rel="stylesheet" href="style/label.css">
    <link rel="stylesheet" href="style/service.css">
    <link rel="stylesheet" href="style/stats.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="image circle unitato"></div>
      </header>

      <section class="container">
        {{> labels}}
        <div class="spacer"></div>
        {{> services}}
      </section>

      <footer></footer>

    </div>
  </body>
</html>
